<div class="card mb-3 game-card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{game.coverUrl}}" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{game.name}}</h5>
        <p class="card-text">${{game.price}}</p>
      </div>
    </div>
    <div class="col-md-2 pr-2 pt-1">
      <button type="button" class="close" aria-label="Close" (click)="remove()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
