<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <span class="navbar-brand">My awesome shop</span>
    <form class="form-inline">
      <button [ngClass]="isCartEmpty() ? 'btn btn-outline-success' : ' btn btn-success'"
              [disabled]="isCartEmpty()"
              (click)="openCart(content)"
              type="button"><i class="fa cart ico">&#xf07a;</i> {{games.length}}</button>
    </form>

  </div>
</nav>

<ng-template #content>
  <div class="modal-header">
    <h5 class="modal-title">Shopping cart</h5>
  </div>
  <div class="modal-body">

    <app-shopping-cart-game *ngFor="let game of games"
                            [game]="game"
                            (gameRemoved)="onGameRemoved($event)">
    </app-shopping-cart-game>

  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-danger" (click)="confirmPurchase()">Confirm purchase</button>
  </div>
</ng-template>
