<nav class="navbar navbar-dark bg-dark fixed-top" style="background-color: #0C120C">
  <div class="container">
    <a class="navbar-brand" href="#">My awesome shop</a>
    <form class="form-inline">
      <button class="btn" [ngClass]="games.length == 0 ? 'btn-outline-success' : 'btn-success'"
              [disabled]="games.length == 0"
              data-toggle="modal"
              data-target="#exampleModalLong"
              type="button"><i class="fa" style="font-size:24px">&#xf07a;</i> {{games.length}}</button>
    </form>

  </div>
</nav>

<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Basket</h5>
      </div>
      <div class="modal-body">

        <div *ngFor="let game of games" class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{game.coverUrl}}" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">{{game.name}}</h5>
                <p class="card-text">${{game.price}}</p>
              </div>
            </div>
            <div class="col-md-2 pr-2 pt-1">
              <button type="button" class="close" aria-label="Close" (click)="removeGameFromCart(game.id)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" [disabled]="games.length == 0">Confirm purchase</button>
      </div>
    </div>
  </div>
</div>
