<nav class="navbar navbar-dark bg-dark fixed-top" style="background-color: #0C120C">
  <div class="container">
    <a class="navbar-brand" href="#">My awesome shop</a>
    <form class="form-inline">
      <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong" type="button"><i class="fa" style="font-size:24px">&#xf07a;</i> 5</button>
    </form>

  </div>
</nav>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Basket</h5>
      </div>
      <div class="modal-body">

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="http://s.gama-gama.ru/fullsize/e56c325f30f3d01b0f0f1ea8d5b59d70.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Saints Row 2</h5>
                <p class="card-text">$24.99</p>
              </div>
            </div>
            <div class="col-md-2 pr-2 pt-1">
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="http://s.gama-gama.ru/fullsize/e56c325f30f3d01b0f0f1ea8d5b59d70.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Saints Row 2</h5>
                <p class="card-text">$24.99</p>
              </div>
            </div>
            <div class="col-md-2 pr-2 pt-1">
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger">Confirm purchase</button>
      </div>
    </div>
  </div>
</div>
