<div class="container mt-4">

  <div class="row">
    <div class="col-lg-11">

      <div *ngIf="games.length == 0" class="row">
        <h3 >There are no games...ops</h3>
        <img src="assets/empty result.svg" >
      </div>

      <div *ngIf="games.length != 0" class="row">
        <app-games-container-item *ngFor="let game of games"
                [game]="game.info"
                [isInCart]="game.isInCart"
                (gameSelected)="onGameSelected($event)"
                class="col-lg-3 col-md-6 mb-4">
        </app-games-container-item>
      </div>

    </div>
  </div>
</div>

<app-pagination *ngIf="games.length != 0"
                [currentPage]="currentPage"
                [totalPageCount]="getTotalPageCount()"
                [showPagesCount]="showPagesCount"
                (pageClicked)="onPageClicked($event)">
</app-pagination>
